* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main #canvas {
    width: 70vmin;
    height: 70vmin;
    border: solid 2px black;
}