*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar{
  z-index: 1000;
  background-color: #000000;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #2c2c2c;
  border-radius: 4px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the main container takes the full height of the viewport */
}

main #canvas {
    width: 70vmin; /* Use vmin to ensure the canvas is square and responsive */
    height: 70vmin; /* Use vmin to ensure the canvas is square and responsive */
    border: solid 2px black;
    
}
